### 1. What are Data Structures? List some of data structures and their use in real world application?

####  Answer
    - Data Structures are ways of organizing and storing data in a computer so that it can be accessed, modified, and processed efficiently.
       List some data structures
       1. List
       2. Tuple
       3. Dictionary
       4. Set

### 2.  What are the different numeric data types in Python?

#### Answer
     - Integer 
     - Float
     - complex number

### 3. How is int different from float? 
   #### Answer
      1. Integer
      - In Integer we store the whole number
      - Example 5,10,-5
      - It take less memory space 


      2. Float
       - In Float we store the decimal number
       - Example 5.4 , 56.8
       - it take more memory space

### 4. What is the purpose of the complex data type? 
  #### Answer
     - The purpose of the complex data type in Python is to store and work with complex numbers, which have both a real part and an imaginary part.
     - Example  5+8J
                here 5 = real part
                     8j = Imaginary part

### 5. What will be the result of int("10") + float("5.5")?

In [12]:
 int("10") + float("5.5")

15.5

### 6.  How can you check the data type of a variable in Python?

In [15]:
a = 5
type(a)

int

In [17]:
num = 10.6
type(num)

float

In [19]:
com = 5+3j
type(com)

complex

### 7. ***Read till Chapter-1 to Chapter - 5 from book I shared called Learning Python***

### 8. Create a list data type and store names of your friends in it (at least 5), check out what are methods available in list data type, try to figure out their working using help function in python.

In [23]:
List = ["Jai" , "Manish" , "Vishal" , "Niraj" , "Yashi"]

In [29]:
# Append() method
List.append("Niraj")

In [31]:
List

['Jai', 'Manish', 'Vishal', 'Niraj', 'Yashi', 'Rishi', 'Niraj']

In [33]:
# Count() method 
List.count("Niraj")

2

In [37]:
# extend() method is use for iterate at the list element 
List.extend("Jai")
List

In [41]:
# index() method the first index of the element 
List.index("Niraj")

3

In [43]:
List

['Jai', 'Manish', 'Vishal', 'Niraj', 'Yashi', 'Rishi', 'Niraj', 'J', 'a', 'i']

In [47]:
# insert() is used for insert element at before the given index
List.insert(2,"Sonam")

In [49]:
List

['Jai',
 'Manish',
 'Sonam',
 'Vishal',
 'Niraj',
 'Yashi',
 'Rishi',
 'Niraj',
 'J',
 'a',
 'i']

In [51]:
# reverse() method used for reverse the list element
List.reverse()
List

['i',
 'a',
 'J',
 'Niraj',
 'Rishi',
 'Yashi',
 'Niraj',
 'Vishal',
 'Sonam',
 'Manish',
 'Jai']

In [53]:
# sort() method is used for sorting the List Ascending/Descending
List.sort()
List

['J',
 'Jai',
 'Manish',
 'Niraj',
 'Niraj',
 'Rishi',
 'Sonam',
 'Vishal',
 'Yashi',
 'a',
 'i']

In [59]:
List

['J',
 'Jai',
 'Manish',
 'Niraj',
 'Niraj',
 'Rishi',
 'Sonam',
 'Vishal',
 'Yashi',
 'a']

In [61]:
# pop() method is used for delete the last element of the list
List.pop()
List

['J', 'Jai', 'Manish', 'Niraj', 'Niraj', 'Rishi', 'Sonam', 'Vishal', 'Yashi']

In [63]:
# remove() is used for delete the specific element the first occurance
List.remove("Niraj")
List

['J', 'Jai', 'Manish', 'Niraj', 'Rishi', 'Sonam', 'Vishal', 'Yashi']

In [67]:
# copy() method is used for copy the list in another variable
List2 = List.copy()
List2

['J', 'Jai', 'Manish', 'Niraj', 'Rishi', 'Sonam', 'Vishal', 'Yashi']

In [71]:
# clear() method is used for remove all the element 
List2.clear()
List2

[]

### 9.What is difference between ordered data type and unordered data type?  
  #### Answer
     1. ordered data type
      - An ordered data type stores elements in a specific sequence, and each element has a fixed index.
      Like list,string, tuple

    2.unordered data type
      - An unordered data type stores elements without any fixed order.
       Like  set

### 10. Write down types of each value given? ( in python) 

100 

105.5 

192.56j 

10+6j 

‘10’ 

‘hello world’ 

[ 10, 20, 50, 100] 

{ ‘name’: ‘sachin’, ‘age’: 24, ‘language’: ‘python’ }

In [75]:
a = 100
type(a)

int

In [77]:
type(105.5)

float

In [79]:
type(192.56j)

complex

In [81]:
type(10+6j)

complex

In [83]:
type('10')

str

In [89]:
type('hello world')

str